.footer {
  background-color: var(--hero-background);
  padding: 100px 0 100px 0;
}

.footer-block {
  align-content: left;
  color: #fff;
}

.footer-block > p {
  max-width: 264px;
  line-height: 1.5;
}
