a {
  color: #000;
}

.nav-container {
  display: flex;
}

.nav-list {
  display: flex;
  gap: 15px;
}

.nav-list > li:hover,
nav.list > li:active {
  color: var(--press-state);
  text-decoration: underline;
}

.logo {
  margin: 15px 0 15px 0;
}
